@import url("reset.css");
@import url("styles_forms.css");

body {
    background-color: white;
}

li {
    list-style: none; /* Chrome update */
}

div#container {
    background: #aaaaaa;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

header {
    background-color: lightblue;
    height: 60px;
}

footer {
    background-color: lightcyan;
    height: 60px;
}

footer p {
    line-height: 60px;
    text-align: center;
}

h1 {
    color: lightcyan;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    text-transform: uppercase;
}